@import '../libs/normalize.css/normalize.css'
    
@font-face
    font-family: "OpenSans_regular"
    src: "../fonts/OpenSansRegular/OpenSansRegular.ttf"
    src: "../fonts/OpenSansRegular/OpenSansRegular.eot"
    src: "../fonts/OpenSansRegular/OpenSansRegular.woff"

@font-face
    font-family: "OpenSans_bold"
    src: "../fonts/OpenSansBold/OpenSansBold.ttf"
    src: "../fonts/OpenSansBold/OpenSansBold.eot"
    src: "../fonts/OpenSansBold/OpenSansBold.woff"

$default-font: "OpenSans_regular", sans-serif
$bold-font: "OpenSans_bold", sans-serif
    
body
    min-width: 320px
    overflow-x: hidden
    box-sizing: border-box
    font-family: $default-font
    font-size: 16px
    line-height: 1.6
    height: 5000px

.container
    width: 900px
    margin: 0 auto

.header
    background-color: #F4F4F4
    padding: 56px 0 19px 0
    box-shadow: 0 5px 5px rgba(0,0,0,0.11)
    &__box
        display: flex
        justify-content: space-between
        position: relative
    &__btn
        background-color: #0271c7
        border: none
        outline: none
        color: #fff
        padding: 8px 11px
        font: 14px $bold-font
        cursor: pointer
        box-shadow: 0 1px 5px rgba(0,0,0,0.2)
        &:first-child
            margin-right: 10px
        &.active, &:active
            transition: 0.1s
            background-color: #015da4
            box-shadow: inset 0 3px 3px rgba(0,0,0,0.3)

    &__search
        &-btn, &-inp
            display: inline-block
            vertical-align: middle
        &-btn
            display: inline-block
            border: none
            outline: none
            background: url(../img/search.svg) center / 100% no-repeat
            width: 18px
            height: 18px
            margin-right: 5px
            cursor: pointer
        &-inp
            border: 1px solid #d2d2d2
            border-radius: 5px
            padding: 3px 5px
            font-size: 14px
            width: 200px
            height: 26px
            outline: none
            box-shadow: inset 0 0 5px rgba(0,0,0,0.1)

.control
    display: flex
    align-items: center
    margin-top: 30px
    &__btn
        width: 24px
        height: 24px
        cursor: pointer
        &_left
            background: url(../img/left-arrow.png) center / 100% no-repeat
        &_right
            background: url(../img/right-arrow.png) center / 100% no-repeat
    &__date
        margin: 0 10px
        font-size: 26px

    &__current-date
        font-size: 14px
        border: 1px solid #dfdfdf
        padding: 1px 5px
        border-radius: 5px
        margin-left: 15px
        box-shadow: inset 0 0 2px rgba(0,0,0,0.2)
        color: #666666
        cursor: pointer
        outline: none

.calendar-wrap
    position: relative

.calendar
    width: 100%
    border-collapse: collapse
    margin-top: 12px
    td
        width: 14.285%
        border: 1px solid #ebebeb
        height: 117px
        padding: 5px
        vertical-align: top
        cursor: pointer
        position: relative
    &__num
        font-size: 12px
        color: #999999
        pointer-events: none

.add-event
    box-shadow: 0 0 5px rgba(0,0,0,0.4)
    border: 1px solid #cccccc
    background-color: #fff
    width: 303px
    height: 104px
    padding-left: 21px
    position: absolute
    bottom: -123px
    display: none
    z-index: 99
    &.active
        display: block

    &:before
        content: ''
        display: block
        width: 50px
        height: 50px
        background-color: red
        transform: rotate(45deg)
        background-color: #fff
        margin-left: -5px
        position: absolute

    &__inp
        margin-top: 24px
        position: relative
        margin: 24px 0 0 
        width: 257px
        border: 1px solid #d0d0d0
        border-radius: 5px
        outline: none
        display: block
        padding: 6px
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.3)

    &__btn
        position: relative
        background: linear-gradient(to bottom, #fff, #ededed)
        border: 1px solid #a6a6a6
        border-radius: 5px
        margin-top: 8px
        outline: none
        font-size: 14px
        cursor: pointer

    &__close
        width: 10px
        height: 10px
        background: url(../img/close.svg) center / 100% 100% no-repeat
        display: block
        position: absolute
        right: 7px
        top: 5px
        cursor: pointer

.td-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1

.event
    pointer-events: none
    span
        display: block
        color: #666
        font-size: 14px
    &__name
        font-weight: bold

    &__bg
        background-color: #c2e4fe

.today-bg
    background-color: #f4f4f4

.event-detail
    width: 300px
    padding: 24px
    box-shadow: 0 0 15px #999
    position: absolute
    left: 320px
    top: -19px
    z-index: 3
    background-color: #fff
    display: none
    cursor: default
    &__inp
        height: 26px
        margin-bottom: 5px
    &__inp,&__desc
        padding-left: 6px
        outline: none
        border: 1px solid #ccc
        background-color: #fff
        display: block
        width: calc(100% - 9px)
        border-radius: 5px
        margin-bottom: 10px
        font-size: 14px
        &[disabled='disabled']
            border: none
        &::placeholder
            color: #ccc
        &:focus
            border-color: #666
            transition: 0.2s

    &__name
        
        &[disabled='disabled']
            font-size: 22px
            font-weight: bold
            color: #000
            margin-bottom: 0

    &__desc
        margin: 36px 0 20px 0
        height: 115px
        resize: none
        padding: 6px 0 0 10px

    &__btn
        background: linear-gradient(to bottom, #fff, #ededed)
        border: 1px solid #a6a6a6
        border-radius: 5px
        margin-top: 8px
        outline: none
        font-size: 14px
        cursor: pointer

    &__completed
        margin-right: 12px

    &__close
        display: block
        width: 10px
        height: 10px
        background: url(../img/close.svg) no-repeat
        position: absolute
        right: 8px
        top: 8px
        cursor: pointer

    &.active
        display: block

       
